
.dropcap {
    font-weight:600;
    color : #c60101;
    margin-right: 0.5rem;
}

#post-content * p{
    font-size: 2.2rem;
    margin-top: 1.5rem;
}
#post-content * li p {
    margin: 0;
}
#post-content * ol li {
    font-size: 1.6rem;
    margin-left: 2rem;
    padding-left: 0rem;
    list-style-position: outside;
    font-family: "concourse-t3", 'Helvetica Neue', Arial, sans-serif;
    -moz-font-feature-settings: 'liga=1', 'ss01=0';
    -moz-font-feature-settings: 'liga' 1, 'ss01' 0;
    -webkit-font-feature-settings: 'liga' 1, 'ss01' 0;
    -o-font-feature-settings: 'liga' 1, 'ss01' 0;
    -ms-font-feature-settings: 'liga' 1, 'ss01' 0;
    font-feature-settings: 'liga' 1, 'ss01' 0;
}

#post-content h1{
    margin-bottom: 20px;
    margin-top: 40px;
}

#post-content h2{
    font-family: 'concourse-t6', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    margin-top: 2.5rem;
}

figcaption {
    font-size: 2.0rem;
    text-align: center;
    list-style-position: outside;
    font-family: "concourse-t3",'Helvetica Neue', Arial, sans-serif;
    -webkit-font-feature-settings: 'ss02' 1;
    -moz-font-feature-settings:  'ss02' 1;
    -o-font-feature-settings:  'ss02' 1;
    -ms-font-feature-settings:  'ss02' 1;
    font-feature-settings:  'ss02' 1;
}
.review-quotation {
    font-size: 2rem;
    line-height: 2.5rem;
    display: block;
    font-style: italic;
    color: black;
}

.review-source {
    display: block;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: right;
    font-family: 'concourse-t3', 'Helvetica Neue', Arial, sans-serif;

    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.1rem;
    -webkit-font-feature-settings: 'ss02' 1;
    -moz-font-feature-settings:  'ss02' 1;
    -o-font-feature-settings:  'ss02' 1;
    -ms-font-feature-settings:  'ss02' 1;
    font-feature-settings:  'ss02' 1;
}



.audio-sample-title {
    cursor: pointer;

}
.audio-sample-title:hover{
    color: #f5c77e;
}
