

{% if page.title == 'Serene Audio' %}

<div class="container-fluid" id="header" style="z-index:-1">
    <div class="row hidden-xs">
        <div class="col-xs-10 col-xs-offset-8 col-sm-8 col-sm-offset-6 " id="">
            <img src="images/Moto-brass.png" style="width:200px; margin-left:10px;opacity:0.85"/>
        </div>
    </div>
</div>

{% endif %}

<nav class="navbar navbar-inverse" style="width:100%;position: fixed; z-index:3">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img class="hidden-xs" src="{{ site.baseurl }}/images/icons/Logo.svg" style="width:120px;-margin-left:25px; margin-top:-10px; position:relative; opacity:0.8"/>
                <img class="visible-xs" src="{{ site.baseurl }}/images/icons/home.svg" style="width:30px;margin-left:10px; margin-top:-5px; position:absolute; opacity:0.75"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" style="padding-top:1rem">
                {% comment %}
                <!--
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
-->{% endcomment %}
                <li><a href="{{ site.baseurl }}/story">Our Story</a></li>
                <li><a href="{{ site.baseurl }}/talisman">Talisman Speakers </a></li>
                <li><a id="KS-popup" style="color:#ff961b" href="{{ site.baseurl }}/#delicious">Kickstarter Campaign</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li   style="width:60px">
                    <a data-fc-id="minicart" href="https://sereneaudio.foxycart.com/cart" style="height:30px">
                    <img src="{{ site.baseurl }}/images/icons/Shopping_cart.svg" style="width:30px ;opacity:0.85">
                        <span class="text_shadow_light" id="cart-quantity" data-fc-id="minicart-quantity">0</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
-->
            </ul>
        </div>
    </div>
</nav>
