
<div class="container-fluid" id="" style="width:100%;position: fixed; z-index:3; pointer-events:none">
    <div class="row" style="padding-top:2rem">
        <a href="{{ site.baseurl }}/" style=" pointer-events:auto">
            <img class="hidden-xs" src="{{ site.baseurl }}/images/icons/Logo.svg" style="width:120px;margin-left:25px; margin-top:1px; position:relative; opacity:0.8"/>
            <img class="visible-xs" src="{{ site.baseurl }}/images/icons/home.svg" style="width:30px;margin-left:10px; margin-top:-5px; position:absolute; opacity:0.75"/>
        </a>

        <p data-fc-id="minicart" class="col-xs-2 pull-right"  style="padding-top:0px"  style=" pointer-events:auto">

                <a href="https://sereneaudio.foxycart.com/cart" style="pointer-events:auto">
                    <img src="{{ site.baseurl }}/images/icons/Shopping_cart.svg" style="width:30px ;opacity:0.85">
                    <span class="text_shadow_light" data-fc-id="minicart-quantity">0</span>
                </a>

        </p>
    </div>
</div>

