<div class="container-fluid" id="" style="width:100%;position: fixed; z-index:3">
    <div class="row" style="padding-top:2rem">
        <a href="/"><img class="hidden-xs" src="{{ site.baseurl }}/images/logo-brass.png" style="width:110px;margin-left:25px; margin-top:1px; position:absolute; opacity:0.75"/></a>

        <p data-fc-id="minicart" class="col-xs-2 pull-right"  style="padding-top:0px">
            <a href="https://serenedev.foxycart.com/cart?cart=view">
                <a href="https://serenedev.foxycart.com/cart">
                    <img src="{{ site.baseurl }}/images/icons/cart-24.png" style="opacity:0.85">
                    <span class="text_shadow" data-fc-id="minicart-quantity">0</span>
                </a>

            </a>
        </p>
    </div>
</div>
<!--
<div class="container-fluid" id="header" style="z-index:-1">
    <div class="row hidden-xs">
        <div class="col-xs-10 col-xs-offset-8 col-sm-8 col-sm-offset-6 " id="">
            <img src="{{ site.baseurl }}/images/Moto-brass.png" style="width:200px; margin-left:10px;opacity:0.85"/>
        </div>
    </div>
</div>
<div class="container-fluid" id="header">
    <div class="row">
        <a href="/"><img class="hidden-xs" src="{{ site.baseurl }}/images/logo-brass.png" style="width:110px;margin-left:25px; margin-top:1px; position:absolute; opacity:0.75"/></a>

        <div class="col-xs-2 pull-right" style="padding-top:0px">
            <p class="light_on_dark" style="color: #ffd38e;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.66)">Cart</p>
        </div>
    </div>
</div>
-->
