<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!-- Pinterest -->
    <meta name="p:domain_verify" content="cfe547a98fb5750613f33360c2ad7a8a"/>
    <!-- /Pinterest -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/FontFace.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/general.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/post.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery-2.1.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    {% if page.title == 'Talisman Speakers' %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/gallery.css">
    <script src="{{ site.baseurl }}/js/gallery.js"></script>
    <script src="{{ site.baseurl }}/js/detectmobile.js"></script>
    <script src="{{ site.baseurl }}/js/spin.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.appear.js"></script>
    <script src="{{ site.baseurl }}/js/sereneaudio.js"></script>

    {% endif %}

    <!-- In case I needed to develop without internet access
<script src="{{ site.baseurl }}/js/TweenMax.js"></script>
<script src="{{ site.baseurl }}/js/ScrollToPlugin.min.js"></script>
-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/plugins/ScrollToPlugin.min.js"></script>

    <!-- FOXYCART -->
    <script src="//cdn.foxycart.com/sereneaudioinc/loader.js" async defer></script>
    <!-- /FOXYCART -->
</head>

