---
layout: default
---




<div id="post-content" class="" >
    <div  class="container-fluid" >
        <div class="row">
            <div class="col-xs-20 col-xs-offset-2 col-sm-16 col-sm-offset-4 col-md-12 col-md-offset-6" style="padding-top:4rem">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div  class="row">
            <div class="hidden-xs col-sm-3 col-sm-offset-1 col-md-5" >
                <h2 class="">other posts</h2>

                <ul class="">
                    {% for post in site.posts %}
                    <li>
                        <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>

                        <h5>
                            <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-20 col-xs-offset-2 col-sm-16 col-sm-offset-0 col-md-12 ">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<!-- Disqus Start --->
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'sereneaudio';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<!-- Disqus End --->
